$color_0: #002d55;
$color_1: #387b2b;
$color_2: #0064af;
$color_3: #706f73;
$color_4: #de791b;
$color_5: #572600;
$color_6: lighten($color_3, 20%);
$color_7: lighten($color_1, 20%);
$color_8: lighten($color_2, 20%);
$color_9: lighten($color_5, 20%);

$color_10: #f15c80;



#gradient-0 stop[offset="0"] {
  stop-color: $color_1;
}
#gradient-0 stop[offset="1"] {
  stop-color: $color_2;
}
#gradient-1 stop[offset="1"] {
  stop-color: $color_4;
}
#gradient-1 stop[offset="0"] {
  stop-color: $color_10;
}

#gradient-2 stop[offset="1"] {
  stop-color: $color_1;
}
#gradient-2 stop[offset="0"] {
  stop-color: $color_10;
}
#gradient-3 stop[offset="1"] {
  stop-color: $color_2;
}
#gradient-3 stop[offset="0"] {
  stop-color: $color_10;
}

#chart-1 {
   .highcharts-link {
    fill: $color_6;
  }
  .highcharts-link.highcharts-color-1.hetero.highcharts-point-hover {
    fill: url(#gradient-0);
    opacity: 0.5;
  }
  .highcharts-link.highcharts-color-4.hetero.highcharts-point-hover {
    fill: url(#gradient-1);
    opacity: 0.5;
  }
  .highcharts-link.highcharts-color-11.hetero.tnac.highcharts-point-hover {
    fill: url(#gradient-2);
    opacity: 0.5;
  }
  .highcharts-link.highcharts-color-11.hetero.msr.highcharts-point-hover {
    fill: url(#gradient-3);
    opacity: 0.5;
  }
  .highcharts-link.highcharts-color-11.hetero.cancel.highcharts-point-hover {
    fill: url(#gradient-1);
    opacity: 0.5;
  }
  .highcharts-data-label-color-10 {
    transform: translate(0);
  }
}
.highcharts-grid-line {
    fill: none;
    stroke: #000;
    opacity: 0.2;
}
.highcharts-plot-band {
  fill: #fff;
  fill-opacity: 1
}
.highcharts-tooltip {
  width:105px;
  font-size: 0.7em;
  line-height: 110%;
  background-color: rgba(243,247,250, 0.9);
  padding:6px;
   font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  font-feature-settings: "tnum";
  span {
    position: relative !important;
    white-space: normal !important;
    top: 0 !important;
    left: 0 !important;
  }
}

.highcharts-tooltip-box {
  display: none;
}
.surplus-allowances rect, .highcharts-color-10 {
  fill: $color_10;
}

g.highcharts-plot-lines-0 {
    transform: translate(0,-1px);
    path {
      stroke: #000;
    }
}
.highcharts-plot-line-label {
  display: none;
  transform: translate(-1.2em,0.45em);
    .first-in-column.first-in-row &.stock-flow {
      display: inline;
    }
    .first-in-column.first-in-row &.cap{
      display: inline;
      fill: #000;
    }
}

.highcharts-point {
  stroke-width: 0;
}
.highcharts-title {
    font-size:0.977em;
    font-weight: bold;
  }

.multiple-chart-container {
  display: flex;
  flex-wrap: wrap;
  
  form {
    width: 100%;
  }
  .chart-container {
    width: 110px;
    padding-bottom: 0;
    margin-bottom:0;
  }
  .highcharts-container {
    overflow:visible;
    svg {
      overflow: visible;
    }
    .highcharts-yaxis-labels, .highcharts-yaxis .highcharts-axis-title, .highcharts-xaxis-labels   {
      display:none;
    }
    &.first-in-row {
      .highcharts-yaxis-labels, .highcharts-yaxis .highcharts-axis-title   {
        display:inline;
      }
    }
    &.last-in-column {
      overflow: visible;
      .highcharts-xaxis-labels {
        display:inline;
      }
    }
  }
}
#chart-1.multiple-chart-container .chart-container {
  width:100%;
}

#chart-0 {
  margin-bottom: 40px;
}


.radio fieldset {
  transition: border-color 0.1s ease-out;
  border: 1px solid #bfccd7;
  padding-left: 0.34em;
  &:hover {
    border-color: #809ab0;
    legend {
      border-color: #809ab0;
    }
    label {
      color: #00163a;
    }
  }
  legend {
    display: inline;
    width: initial;
    font-size: 90%;
    padding: 0 5px;
    margin-bottom: -0.2em;


  }
}

.highcharts-annotation, .highcharts-annotation-labels, .highcharts-annotation-label {
  width: 100%;
}
.highcharts-annotation-label {
    right: unset !important;
    left: unset !important;
    span {
      background-color: rgba(255,255,255,0.8);
      border: 1px solid #58585b;
      padding: 5px 10px;
      border-radius: 5px;
      width: 100%;
      max-width: 410px;
      white-space: normal !important;
      vertical-align: top;
      transform: translate(0,40px);
      box-sizing: border-box;
    }
    &.right {
      span {
        left: unset !important;
        right: 0;
      }
    }
    &.left {
      span {
        left: 0 !important;
      }
    } 
    
}



.overlay-play {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(255,255,255,0.3);
  cursor: pointer;
  transition: opacity 0.2s linear, background-color 0.2s linear;
  border-radius: 10px;
  &.clicked {
    opacity: 0;
    cursor: default;
  }
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid rgba(#064782,0.85);
    border-bottom: 50px solid transparent;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: border-left-color 0.2s linear;
  }
  &:hover {
    background-color: transparent;
     
    .triangle-right {
      border-left: 100px solid rgba(#aedb90, 0.85);
    }
    .dismiss-button {
      opacity: 1;
    }
  }
  .dismiss-button {
    opacity: 0.8;
  }
}

.dismiss-button, .overlay-replay {
    position: absolute;
    bottom: 0;
    right: 0;
    color: #064782 !important;
    background-color: transparent !important;
    box-shadow: none;
    border-bottom: 3px solid transparent;
    padding:0 !important;
    font-size: 0.6em !important;
    &:hover {
      border-bottom-color: #aedb90;
    }
  }

.dismiss-button {
  opacity: 0.8 !important;
}

g.title-high text {
  text-anchor: start;
}

g.shortdot path, path.shortdot {
  stroke-dasharray: 5;
}

.highcharts-container.predicted-sales {
  .highcharts-series-0 path.highcharts-graph {
    stroke-width:3px;
  }
}

g.highcharts-annotation {
  opacity:1;
  transition: opacity 0.5s linear;
}
g.highcharts-annotation[visibility="hidden"]{
  visibility: visible;
  opacity: 0;
}

.highcharts-annotation-label text {
  fill: #58585b;
}

.highcharts-annotation-label-box {
  stroke:none;
  fill:none;
}

.highcharts-xaxis-labels > span {
    text-align: center;
}

.chart-container {
  position: relative;
  padding-bottom: 0.85em;
  margin-bottom:1em;
}

.highcharts-form label {
  display: initial;
  font-family: inherit;
  margin-right:1em;
  

  input[type="checkbox"], input[type="radio"] {
    float:none;
    top: -1px;
    margin-right:0.25em;
  }
}

.highcharts-note {
  color: #58585b;
  font-size:0.8em;
  line-height:140%;
  &.multiple {
    font-size: 0.68em;
  }
}
/*
 * overrides to highcharts css
 */
.highcharts-background {
    fill: none;
}
 /* font */

 .highcharts-container {
    font-family: inherit;
    font-size: 0.85em;
    line-height: inherit;
    height: initial;
    //background: transparent url('//www.rff.org/files/rff-logo-small.png') no-repeat 45px bottom;
    //background-image-size: 50%;
 }

.chart-container .highcharts-title {
    font-size:1.15em;
    font-weight: bold;
}

.highcharts-yaxis .highcharts-axis-title {
    font-style: italic;
    .multiple-chart-container & {
      font-size: 0.75em;
    }

}

.highcharts-stack-labels, .highcharts-axis-labels, .highcharts-legend-item text, .highcharts-plot-line-label  {
    font-size: 0.85em;
    .multiple-chart-container & {
      font-size: 0.75em;
      line-height: 0;
    }
  
}

.highcharts-axis-title, .highcharts-axis-labels, .highcharts-subtitle, .highcharts-legend-item text, .highcharts-plot-line-label {
      fill: #58585b;
      font-weight: normal;
}
.highcharts-subtitle {
    line-height:1.25em;
}
.highcharts-credits {
    font-size: 0.7em;
    &:hover {
        font-size: 0.7em;
    }
}


/* colors */

.highcharts-color-0 {
  &.highcharts-annotation-label span {
    border-color: $color_0;
  }
  fill: $color_0;
  stroke: $color_0;
}


.highcharts-color-1 {
  &.highcharts-annotation-label span {
    border-color: $color_1
  }
  fill: $color_1;
  stroke: $color_1;
}

.highcharts-color-2 {
  &.highcharts-annotation-label span {
    border-color: $color_2
  }
  fill: $color_2;
  stroke: $color_2;
}
.highcharts-color-3 {
  &.highcharts-annotation-label span {
    border-color: $color_3
  }
  fill: $color_3;
  stroke: $color_3;
}

.highcharts-color-4 {
  &.highcharts-annotation-label span {
    border-color: $color_4
  }
  fill: $color_4;
  stroke: $color_4;
}
.highcharts-color-5 {
  &.highcharts-annotation-label span {
    border-color: $color_5
  }
  fill: $color_5;
  stroke: $color_5;
}


.highcharts-color-6 {
  &.highcharts-annotation-label span {
    border-color: $color_6;
  }
  fill: $color_6;
  stroke: $color_6;
}

.highcharts-color-7 {
  &.highcharts-annotation-label span {
    border-color: $color_7;
  }
  fill: $color_7;
  stroke: $color_7;
}

.highcharts-color-8 {
  &.highcharts-annotation-label span {
    border-color: $color_8;
  }
  fill: $color_8;
  stroke: $color_8;
}

.highcharts-color-9 {
  &.highcharts-annotation-label span {
    border-color: $color_9;
  }
  fill: $color_9;
  stroke: $color_9;
}